<!--<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mayor O Menor</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"/>
</head>
<body>

        <div class="card" style="width: 18rem" id="carta">
            <div class="card-body">
            <h5 class="card-title">Mayor O Menor</h5>
            <p class="card-subtitle" id="vidas"></p>
            <p class="card-text" id="resultado"></p>
            <input type="number" required placeholder="Ingrese un numero" min="0" id="nIngresado" ngModel="ingresado">
            <br>
            <button class="btn btn-success" id="btn">Enviar</button>
            </div>
        </div>

</body>
</html>-->
<html>
    <head>
        <link rel="stylesheet" href="mayor-menor.component.scss">
        <script type="text/javascript" src="./cards.js"></script>
    </head>
    <body>
        <div class="game">
            <div class="game">
                <h3>Mayor O Menor</h3>
                <div class="game-body">
                        <div class="game-options">
                        <input type="button" id="btnStart" class="btn" value="Iniciar" onclick="startblackjack()">
                        <input type="button" class="btn" value="Mayor" onclick="hitMe()">
                        <input type="button" class="btn" value="Menor" onclick="stay()">
                        </div>
                
                            <div class="status" id="status"></div>
                
                        <div id="deck" class="deck">
                            <div id="deckcount">52</div>
                        </div>
                
                        <div id="players" class="players">
                        </div>
                
                        <div class="clear"></div>
                </div>
           </div>
       </div>
    </body>
</html>