html, body
{
    height: 100%;
    margin:0;
    padding:0;
}

div {
    position:relative;
    height: 100%;
    width:100%;
}

div img {
    position:absolute;
    top:70em;
    max-width:max-content;
    max-height: max-content;
    left:0;
    right:0;
    bottom:0;
    margin:auto;
}