<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

  <title>Ahorcado</title>
</head>
<body>
<div class="container">
  <h1 class="text-center">Ahorcado</h1>
  <div class="float-right">Intentos: <span id='mistakes'>0</span> de 6</div>
  <div class="text-center">
    <img id='hangmanPic' src="https://firebasestorage.googleapis.com/v0/b/tpsaladejuegos-8b998.appspot.com/o/0.png?alt=media&token=e949bb76-84fe-4bc5-847a-5fe772e40471" alt="ahorcado" style="height: 20em;">
    <p>Adivina la red social:</p>
    <p id="wordSpotlight"></p>
    <div id="keyboard"></div>
    <button class="btn btn-info" onClick="reset()">Reiniciar</button>
  </div>
</div>

<script src='script.js'></script>
</body>
</html>